@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Coral+Pixels&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jacquarda+Bastarda+9&family=Jacquarda+Bastarda+9+Charted&family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: 'Birch Leaf';
    src: url('fonts/birch-leaf.otf') format('opentype'),
        url('fonts/birch-leaf.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
